<h1>hello {{ name | capitalize}}</h1>

{% if name %}
    hello, {{ name }}
{% else %}
    hello, stranger
{% endif %}

<ul>
    {% for comment in comments %}
        <li> {{ comment }}</li>
    {% endfor %}
</ul>

{% macro render_comment(comment) %}
    <li>{{ comment }}</li>
{% endmacro %}

<ul>
    {% for comment in comments %}
        {{ render_comment(comment) }}
    {% endfor %}
</ul>

{% extends "b.html" %}
{% block title %}Flasky{% endblock %}

{% block page_content %}
<div class="container">
 <div class="page-header">
 <h1>Hello, {{ name }}!</h1>
 </div>
</div>
{% endblock %}